.apartment-filter-bar {
    position: sticky;
    top: 0;
    z-index: 4;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
    min-width: 320px;
    padding-left: 36px;
}

.filter-bar-title {
    font-size: 18px;
}

.filter-animation{
    padding: 1000px;
}

.filter-bar-container {
    margin-left: 32px;
    display: flex;
    align-items: center;
}

.apartment-filter-container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filters-block{
    height: 80vh;
    overflow: auto;
}

@media (max-width: 400px) {
    .apartment-filter-bar{
        padding-left: 0;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 380px) {
    .filter-bar-title {
        display: none;
    }
}

@media (max-height: 900px) {
    .filters-block{
        height: 75vh;
    }
}

@media (max-height: 745px) {
    .filters-block{
        height: 70vh;
    }
}

@media (max-height: 568px) {
    .filters-block{
        height: 64vh;
    }
}