
.apartment-location-container {
    height: 30px;
    background-color: rgba(96, 98, 103, 0.6);
    position: absolute;
    top: 0;
    right: 0;
}

.card-price-container {
    background-color: #f6f7f8;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.description-icon {
    font-size: 22px;
    color: #4a88bf;
}

.leaflet-container {
    height: 92vh;
    width: 100%;
}

.map-sticky-container {
    position: sticky;
    height: 910px;
    top: 60px;
}

@media (max-width: 1300px) {
    .map-sticky-container {
        max-width: 45% !important;
    }
}

@media (max-width: 1200px) {
    .map-sticky-container {
        max-width: 39% !important;
    }
}

@media (max-width: 1060px) {
    .map-sticky-container {
        max-width: 34% !important;
    }
}

@media (max-width: 1024px) {
    .container-collection-apartment {
        flex: 1 0 50% !important;
    }
}

@media (max-width: 974px) {
    .map-sticky-container {
        position: fixed !important;
        top: 0 !important;
        z-index: 5 !important;
        max-width: 100% !important;
        padding: 0 !important;
        flex: 0 0 100%;
        height: 100vh !important;
        cursor: pointer!important;
    }

    .leaflet-container {
        height: 100vh !important;
    }
}

.leaflet-map-btn{
    z-index: 1000;
    position: absolute!important;
    top: 10px;
    right: 0;
    padding: 8px 15px;
    background-color: white;
    border: none;
    font-size: 16px;
    opacity: 1;
}

.leaflet-map-btn:hover{
    opacity: 1;
}

.btn-sort {
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none !important;
    display: flex;
    align-items: center;
    color: #606267;
    height: 100%;
    padding: 10px 20px;
}

.nav-item-marker-point:before {
    margin-right: 7px;
    font-weight: 800;
    color: #5e666f;
    content: "\B7";
}