.navbar-icon-info {
    position: absolute;
    top: 35px;
    right: 2px;
    color: darkorange;
    cursor: pointer;
}

.navbar {
    min-width: 320px;
    height: 60px;
    background-color: white;
    justify-content: flex-end !important;
    padding: 0;
    width: 100%;
    /*box-shadow: 0 0 1px 0px #c5c5c5;*/
}

.navbar-sticky{
    position: sticky;
    top:0;
    z-index: 1000000;
}

.navbar-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 50px;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #e8e8e8;
}

.navbar-logo {
    border: none !important;
    position: absolute;
    left: 10px;
    top: 3px;
    width: 50px;
    height: 50px;
}

.submenu-username{
    font-weight: 600;
    color: #9b9ea6;
    max-width: 232px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 420px){
    .menu-username {
        max-width: 160px!important;
    }
}

@media (max-width: 360px){
    .menu-username {
        max-width: 130px!important;
    }
}

@media (max-width: 320px){
    .menu-username {
        max-width: 100px!important;
    }
}


.menu-username {
    max-width: 200px;
    font-weight: 600;
    color: #9b9ea6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.arrow-down {
    color: #606267;
    margin-left: 5px;
    padding-top: 5px;
}

.navbar-brand {
    color: #333333;
}

.navbar-icon {
    color: #606267;
    font-size: 30px;
    border: 0 !important;
    cursor: pointer;
}

.submenu-container {
    margin-top: 2px;
    z-index: 100;
    border-radius: 4px;
    width: 300px;
    min-width: 310px;
    height: 380px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.submenu-button {
    display: flex;
    align-items: center;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.submenu-icon{
    font-size: 22px;
    width: 30px;
}

.submenu-button:hover {
    background-color: #e8e8e8;
}

.submenu-close {
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 20px;
    opacity: 0.6;
}

.submenu-close:hover {
    opacity: 1;
}





