.alert-container{
    border-radius: 2px;
    height: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.alert-container-error{
    background: #ffeee7;
    border: 1px solid #ff8b8b;
}

.alert-container-success{
    background: #f3ffe7;
    border: 1px solid #00ba07;
}

.alert-error-icon{
    font-size: 26px;
    color: #d22b07;
    padding-left: 15px;
}

.alert-error-message{
    margin-left: 15px;

}