.chat-container {
    z-index: 10;

    width: 300px;
    min-width: 300px;
    height: 470px;
    background-color: white;
    border-radius: 9px 9px 6px 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-icon {
    width: 70px;
    height: 70px;
    cursor: pointer;
    color: #ebebeb;
    background-color: #1954e5;
    z-index: 10;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1.5s infinite;
}

.chat-icon:hover {
    /*animation: pulse 1.5s infinite;*/
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #1a5eff;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #1b5dff;
        box-shadow: 0 0 0 0 #185eff;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 7px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.chat-container-top {
    border-radius: 6px 6px 0 0;
    height: 60px;
    background-color: #404664;
    border: none !important;
}

.chat-container-content {
    overflow: auto;
    height: 350px;
    background-color: white;
}

.chat-container-input {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 240px;
    resize: none;
    text-decoration: none;
    overflow: hidden;
    padding-top: 15px;
    height: 50px;
    padding-left: 15px;
}

.chat-button-send {
    width: 27px;
    height: 27px;
    margin-left: 17px;

    cursor: pointer;
}

.chat-button-send:hover {
    padding: 1px;
}

.chat-container-bottom {
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
}

.speech-bubble {
    position: relative;
    width: 200px;
    word-wrap: break-word;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.speech-bubble-right {
    background: rgba(255, 230, 119, 0.69);
    border-radius: 20px 20px 0 20px;
}

.speech-bubble-left {
    background: rgba(0, 0, 0, 0.08);
    border-radius: 20px 20px 20px 0;
}

.bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.chat-container-button-close {
    margin-right: 8px;
    cursor: pointer;
    color: white;
}

.chat-container-title {
    margin-left: 15px;
}

.chat-container-role {
    font-size: 12px;
    color: #c5c0d2;
}

.admin-chat-container{
    height: 74vh;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.admin-dialog-container{
    min-height: 81vh;
    padding: 0;
    overflow: hidden;
    border-bottom: none!important;
}

.container-dialog {
    height: 80px;
    background-color: white;
}

.container-dialog:hover {
   background-color: #fbfbfb;
}

.chat-message {

}

.container-message{
    min-height: 80px;
    width: 100%;
}

.admin-chat-header {
    height: 60px;
}

.chat-back-icon {
    font-size: 25px;
}

.chat-back {
    display: flex;
    align-items: center;
    color: #2a6ebb;
    cursor: pointer;
    height: 100%;
    width: 70px;
    padding-left: 7px;
}

.chat-back:hover {
    background-color: #eeeeee;
}

.admin-chat-footer {
    height: 60px;
    background-color: #f7fdfb;
}

.admin-chat-input {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    resize: none;
    text-decoration: none;
    overflow: hidden;
    height: 43px;
    padding-top: 7px;
    padding-left: 15px;
    border-radius: 4px;
}