.chat-container {
    z-index: 10;
    border: 1px solid #d7d9de;
    width: 300px;
    min-width: 300px;
    height: 450px;
    background-color: #fcfcfc;
    border-radius: 10px;
}

.chat-icon {
    width: 70px;
    height: 70px;
    cursor: pointer;
    color: #ebebeb;
    background-color: #1954e5;
    z-index: 10;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-icon:hover {
    animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #1a5eff;
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #1b5dff;
        box-shadow: 0 0 0 0 #185eff;
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 7px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.chat-container-top {
    border-radius: 10px 10px 0 0;
    height: 40px;
    background-color: white;
}

.chat-container-content {
    overflow: auto;
    height: 350px;
    background-color: rgba(206, 232, 249, 0.28);
}

.chat-container-input {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 230px;
    resize: none;
    text-decoration: none;
    overflow: hidden;
}

.chat-button-send {
    width: 27px;
    height: 27px;
    margin-left: 17px;
    margin-bottom: 40px;
    padding: 1px;
    animation: 10s;
}

.chat-button-send:hover {
    padding: 0;
}

.chat-container-bottom {
    height: 50px;
}

.speech-bubble {
    position: relative;
    background: #b9e4e9;
    border-radius: .4em;
    width: 200px;
    word-wrap: break-word;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    top: 65px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
}

.speech-bubble-right:after {
    right: 0;
    border-right: 0;
    border-bottom: 0;
    margin-top: -6px;
    margin-right: -12px;
    border-left-color: #b9e4e9;
}

.speech-bubble-left:after {
    left: 0;
    border-left: 0;
    border-bottom: 0;
    margin-top: -6px;
    margin-left: -12px;
    border-right-color: #b9e4e9;
}

.bottom-right {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.chat-container-button-close {
    margin-right: 8px;
    cursor: pointer;
}

.chat-container-title {
    margin-left: 30px;
}