.slider {
    background-color: #606267;
    height: 2px;
    position: relative;
    cursor: pointer;
}

.my-handle {
    height: 32px;
    width: 32px;
    border: 1px solid #5e6d77;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    position: absolute;
    top: -15px;
    cursor: pointer;
}

.counter-button {
    height: 45px;
    width: 45px;
    border: 1px solid #5e6d77;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-button-icon{
    font-size: 13px;
    color: #606267;
}

.counter-button:hover .counter-button-icon{
    color: #1a5eff;
}

.counter-title {
    text-transform: lowercase;
    margin-left: 10px;
}

.counter-amount {
    font-size: 22px;
    font-weight: 600;
}

.counter-content {
    width: 150px;
    padding-top: 1px;
}

.filter-container-price {
    max-width: 300px;
}

.checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.checkbox-blue {
    background-color: #2a6ebb;
}

.check {
    font-size: 18px;
    color: white;
}

.my-handle:hover, .counter-button:hover, .checkbox:hover {
    border-color: #2a6ebb !important;
}

